# Backup files
*~

# Local Python version
.python-version

# Python bytecode cache
__pycache__

# MyPy type checking cache
.mypy_cache/

# Code coverage reports
.coverage

# JetBrains IDE settings
.idea

# Visual Studio Code settings
.vscode

# virtual environment
.venv/*

# Release artefacts
release
incremental-reading-v*.zip

# Anki addon metadata
meta.json